html{
    height: 100%;
    width: 100%;
}

.header{
    background: url("/staticContent/img/header/mandir.jpg") no-repeat top center;
    background-size: cover;
    height: 200px;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 50px;
}

.header h1 {
  color: #e59c0e;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.content {
	margin-top: 20px;
  padding: 0 20px;
}

.footer h6 {color: #fff;}
.btn-facebook{
	cursor: pointer;
  	background-color: #3B5998;
 	color: #fff;
}

.headline-2 {
	color: #e3671c;
	font-size: 20px;
	line-height: 24px;
}

.headline-1 {
	font-size: 26px;
	line-height: 32px;
}

.headline-3 {
	color: #e3671c;
	font-size: 20px;
	line-height: 24px;
}

.headline-4 {
	font-size: 16px;
	line-height: 20px;
}

.death-note .card {
  padding: 20px;
}
.death-note .card-img-top {
  width: 300px;
  height: 300px;
}